.forgot-pin-component{
  .email-box{
    width: 100%;
  }
  .send-pin{
    cursor: pointer;
    margin: 2rem 0 1rem;
    float: right;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}